@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<script type="text/javascript"> 
    document.getElementById("contact").classList.add("activeheader");
    document.getElementById("about").classList.remove("activeheader");
    document.getElementById("profile").classList.remove("activeheader");
    document.getElementById("home").classList.remove("activeheader"); 

</script>
<style>

    #contact .activeheader {
        color: #1da1f2 !important;
        font-weight: bold !important;
    }
</style>